@import '../../../style/index.scss';

.gallery {
    //background-color: $orange;
    display: flex;
    gap: 20px;
    position: relative;
    transition: position 0.3s linear;
    //flex-wrap: wrap;
    .foto_mini{
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }
    img{
        border-radius: 65px;
        object-fit: cover;
    }
    .foto1{
        width: 50%;
    }
    .foto2, .foto3{
        width: 50%;
        height: 240px;
    }
    .foto4{
        width: 100%;
        height: 325px;
    }

    .big_foto{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px){
    .gallery{
        flex-wrap: wrap;
        .foto1{
            display: none;
        }
        .right-foto{
            width: 100%;
        }
    }
}