@import '../../style/index.scss';

.article{
    @extend %pd;
    margin-bottom: 230px;
    h1{
        @extend %title-articles;
        margin-top: 84px;
        margin-bottom: 60px;
    }
    img{
        border-radius: 65px;
        object-fit: cover;
    }
    .main_img{
        width: 100%;
        max-height: 790px;
    }
    &__opisanie{
        margin-top: 100px;
        .opisanie_blok{
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            margin-left: 130px;
            align-items: center;
            &__img{
                min-width: 526px;
                width: 50%;
                height: 431px;      
                img{
                    width: 80%;
                    height: 431px;
                }
            }
            .paragraf{
                max-width: 750px;
                @extend %descr-about;
            }
        }
    }
}

@media(max-width:1300px){
    .article__opisanie{
        .opisanie_blok{
            margin-left: 0;
        }
    }
}

@media(max-width:1050px){
    .article__opisanie{
        .opisanie_blok{
            display: block;
            justify-content: left;
            &__img{
                margin: 0 auto;
                min-width: 726px;
                width: 60%;
            }
            .paragraf{
                margin-top: 20px;
            }
        }
    }
}

@media(max-width:830px){
    .article__opisanie{
        .opisanie_blok__img{
            min-width: 100%;
        }
    }
}