/* цвета */
$white: #F3F3F3;
$grey: #2E4555;

$blue: #2D64A1;
$green: #5EBFC5;
$orange: #E6641B;
$yellow: #FADF55;

%pd {
    padding-left: 150px;
    padding-right: 150px;
    @media (max-width: 1440px){
        padding-left: 120px;
        padding-right: 120px;
    }
    @media (max-width: 1240px){
        padding-left: 100px;
        padding-right: 100px;
    }
    @media (max-width: 1024px){
        padding-left: 80px;
        padding-right: 80px;
    }
    @media (max-width: 564px){
        padding-left: 50px;
        padding-right: 50px;
    }
    @media (max-width: 380px){
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* текст */

/*главная страница*/
%main-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 48px;
}

%main-descr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

/* общие */

%title-articles {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
}

%descr-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
}

%title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

%descr {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}