@import '../../../style/index.scss';

.footer {
    background-color: $blue;
    @extend %pd;
    padding-top: 40px;
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    &__items{
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
    }
    &__link{
        @extend %title;
        color: $white;
        transition: color 0.3s linear;
        &:hover {
            color: $green;
        }
        &_soc{
            padding: 0 10px;
            img {
                max-width: 55px;
                width: 100%;
                min-width: 20px;
            }
        }
    }
    &__item {
        ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            img {
                max-width: 45px;
            }
        }
    }

    @media (max-width: 1024px){
        &__logo {
            img {
                min-width: 200px;
                width: 250px;
            }
        }
    }
}