@import '../../../style/index.scss';

.footer {
    background-color: $blue;
    padding: 40px 150px 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10%;
    &__items{
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
    }
    &__link{
        @extend %title;
        color: $white;
        transition: color 0.3s linear;
        &:hover {
            color: $green;
        }
        &_soc{
            padding: 0 10px;
            img {
                max-width: 55px;
                width: 100%;
                min-width: 20px;
            }
        }
    }
}